<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/navbar :: head"/>
<body>
<nav th:replace="partials/navbar :: navbar"/>
<div class="card border-dark mt-3" style="max-width: 50rem;">
    <h5 class="card-header alert alert-primary">Author: <span th:text="${post.parentUser.username}"></span></h5>
    <div class="card-body text-dark">
        <h5 th:text="${post.title}" class="card-title"></h5>
        <p th:text="${post.body}" class="card-text"></p>
        <p><strong th:text="${post.parentUser.email}"></strong></p>
        <a th:href="@{/posts/update/{id}(id=${post.id})}" class="btn btn-secondary">Edit</a>
        <form th:action="@{/posts/delete/{id}(id=${post.id})}" method="post">
            <button class="btn btn-secondary">Delete</button>
        </form>
    </div>
</div>
</body>
</html>