<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/navbar :: head"/>
<body>
<nav th:replace="partials/navbar :: navbar"/>
<main class="container mt-5">
    <h1>Create an account</h1>
    <form th:action="@{/sign-up}" method="POST" th:object="${user}">
        <div th:if="${usernameTaken}" class="alert alert-danger">
            The username you have provided has been used already. Choose a different username.
        </div>
        <div th:if="${emailTaken}" class="alert alert-danger">
            The email you have provided has been used already. Choose a different email.
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" id="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" required>
        </div>
        <input value="Sign me up!" type="submit"/>
    </form>
</main>
</body>
</html>